#calculatorArea {
    width: 30vw;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 35vw;
    margin-right: 35vw;

    border-style: solid;
    border-color: black;
    border-radius: 2em;

    background-color: rgb(83, 107, 120);
}

#calculatorDisplay {
    padding: 1vh;

    width: 25vw;
    height: 7vh;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vh;

    background-color: black;
    color: greenyellow;

    font-size: 6vh;
    font-family: Consolas, monaco, monospace;
    text-align: right;

    border-radius: 0.5em;
}

#calculatorKeypadArea{
    display: flex;
    flex-direction: column;

    width: 25vw;
    height: 61vh;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 3vh;

    border-radius: 2em;
}

.calculatorKeyRow{
    display: flex;
    flex-direction: row;
    flex: 1;

    padding-top: 4%;
    padding-bottom: 4%;
}

.calculatorKey{
    flex: 1;

    border-radius: 1em;
    border-color: black;
    border-style: inset;
    border-width: 0.2em;

    font-size: 2em;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;

    color: black;
}

.calculatorNumberKey{
    background-color: rgb(172, 203, 225);
}

.calculatorOperatorKey{
    background-color: wheat;
}

.calculatorSpecialKey{
    background-color: rgb(99, 112, 129);
}

.calculatorResultKey{
    background-color: #A3F7B5;
}

.calculatorClearKey{
    background-color: #590925;
}